LEETCODE_USERNAME="your_leetcode_username"
LEETCODE_SESSION="your_leetcode_cookie_here"

GITHUB_TOKEN="ghp_your_personal_access_token"
GITHUB_OWNER="your_github_username"
GITHUB_REPO="your_leetcode_repository_name"

POLL_INTERVAL_MINUTES=5

